<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
</head>
<body>

    <ul>

        <th:block th:each="user : ${users}">

        <li th:text="${user.getName()}"></li>
        <li th:text="${user.getSurname()}"></li>
        <li th:text="${user.OIB()}"></li>
        <li th:text="${user.Address()}"></li>


        </th:block>

    </ul>

    <form method="post">

        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" id="name">
        <label for="surname">Surname</label>
        <input type="text" surname="surname" placeholder="surname" id="surname">
        <label for="oib">OIB</label>
        <input type="text" oib="oib" placeholder="OIB" id="oib">
        <label for="address">Address</label>
        <input type="text" address="address" placeholder="address" id="address">

        <button type="submit">Add user</button>

    </form>

</body>
</html>